@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ===MIXINS=== */
@mixin roboto {
  font-family: "Roboto", sans-serif;
}

/* === /MIXINS=== */

/* === VARIABLES=== */
$base: 4px;

$padding-vertical-xs: $base*20;
$padding-vertical-md: $base*30;
$padding-vertical: $base*40;

$fs-xxs: 13px;
$fs-xs: 16px;
$fs-s: 19px;
$fs-md: 21px;
$fs-lg: 24px;
$fs-xl: 28px;

$color-primary: #041011;
$color-secondary: #818788;
$color-white: #fff;
$cyan: #007188;

$transition: 0.15s all ease;

/* === /VARIABLES=== */

/* === COMMON === */

body {
  @include roboto;

  color: $color-primary;
}

.section-inner {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  &--wide {
    max-width: 1340px;
  }
}

.ta-c {
  text-align: center;
}

h1 {
  font-size: 72px;
  font-weight: 400;
}

h2 {
  font-size: 52px;
  margin: 0;
}

h3 {
  font-size: 48px;
  margin: 0;
}

.btn {
  display: inline-flex;
  background: $cyan;
  color: $color-white;
  font-size: $fs-xs;
  font-weight: bold;
  padding: 13px 24px 16px;
  border: none;
  border-radius: 5px;
  line-height: 26.4px;
  cursor: pointer;
  transition: $transition;

  &_rounded {
    border-radius: 200px;
    padding: 18px 33px 17px;
    position: absolute;
    right: 8px;
    top: 6px;
    bottom: 7px;
  }

  &:hover {
    background: darken($cyan, 15%);
  }

  &-no-bg {
    background: none;
    font-size: $fs-s;
    padding: 0 0 $base*2;
    color: $cyan;
    border-bottom: 2px solid $cyan;
    border-radius: 0;

    &:hover {
      background: transparent;
      border-bottom: 2px solid #fff;
      color: darken($cyan, 15%);
    }
  }
}

.form {
  display: flex;
  position: relative;
  margin-bottom: $base*8;
}

.input {
  position: relative;
  border: none;
  font-weight: 500;
  color: rgba(#000, 0);
  background-color: $color-white;
  border-radius: 200px;
  padding: $base*6 $base*9;
  flex-grow: 1;
  line-height: 2;
  box-shadow: 0 $base*6 $base*8 rgba(#000, 0.07);

  &::placeholder {
    color: rgba(#000, 0.37);
  }
}

/* === /COMMON=== */

/* === HEADER === */

.section-header {
  box-shadow: $base/2 $base/2 $base rgba(#111237, 0.05);

  .section-inner {
    padding: $base*3 0;
  }
}

.main-navigation {
  display: flex;
  align-items: center;

  &__inner-wrap {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.nav {
  &-wrapper {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;

    &__item {
      & + & {
        margin-left: $base*10;
      }

      &-link {
        text-decoration: none;
        color: $color-primary;
        font-size: $fs-xs;
        font-weight: bold;
        position: relative;
        transition: $transition;

        .arrow-down::before {
          position: absolute;
          display: block;
          content: "";
          width: 15px;
          height: 16px;
          top: 15%;
          left: 100%;
          margin-left: 11px;
          background: url(../img/arrow-down.svg) no-repeat;
        }

        &:hover {
          transition: $transition;
          color: $cyan;

          .arrow-down::before {
            top: 40%;
            transition: $transition;
          }
        }
      }
    }
  }
}

.btn-wrapper {
  margin-left: $base*10;
}

/* === /HEADER === */

/* === /HERO-IMAGE === */
//
.section-hero-image {
  display: flex;
  justify-content: space-between;
  background-color: #fff3f1;

  .img-right {
    background: url("../img/hero-image.png") no-repeat 50% 50%;
    flex-basis: 50%;
    background-size: cover;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }

  .section-inner {
    flex-basis: 40%;
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }

  &__content {
    text-align: left;
    margin-right: auto;
  }

  &__title {
    margin-bottom: $base*10;
  }

  &__subtitle {
    font-size: $fs-md;
    line-height: 1.5;
    margin-bottom: $base*8;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &-link {
      font-size: $fs-xxs;
      line-height: 2;
      padding: $base 34px;
      background: url("../img/list-bg.png") no-repeat;
    }
  }
}

/* === /HERO-IMAGE === */

/* === GET-STARTED === */

.section-get-started {
  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }
}

.elements {
  display: flex;
  justify-content: space-between;
  margin-bottom: $base*20;

  &__item {
    &-title {
      line-height: 1.5;

      span {
        font-size: $fs-lg;
      }
    }

    &-subtitle {
      font-size: $fs-xs;
      font-weight: 500;
      text-align: center;
    }
  }
}

.promo {
  background: url("../img/promo-bg.png") no-repeat;
  background-size: cover;
  padding: $padding-vertical-md $base*25;
  position: relative;

  &::after {
    position: absolute;
    display: block;
    width: 179px;
    height: 104px;
    content: "";
    background: url("../img/promo-decorative-arrow.png") no-repeat;
    right: 35px;
    bottom: -20px;
  }

  &__title {
    margin: 0 auto $base*17;
    width: 50%;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;

    &-link {
      flex-basis: 33%;

      .num {
        height: 60px;
        background: url("../img/oval.png") no-repeat center;
        margin-bottom: $base*7;

        span {
          display: inline-flex;
          padding-top: 20px;
        }
      }

      .text {
        width: 80%;
        margin: 0 auto;
        font-size: $fs-md;
        font-weight: 300;
        line-height: 1.5;
      }
    }
  }
}

/* === /GET-STARTED=== */

/* === /CHAMPION === */

.section-champion {
  .section-inner {
    position: relative;
    display: flex;
  }

  .container__left {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: $base*19;

    .image {
      height: 100%;
    }
  }

  .container__right {
    margin-left: auto;
    flex-basis: 40%;

    .title {
      margin-bottom: $base*7;
      line-height: 0.9;
    }

    .subtitle {
      font-size: $fs-md;
      font-weight: 300;
      line-height: 1.5;
      margin-bottom: $base*8;
    }
  }
}

/* === /CHAMPION == */

/* === ARTICLES == */

.section-articles {
  background-color: #f4f9f9;

  .section-inner {
    margin: 0 auto;
  }
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: $base*15;

  &--item {
    flex-basis: 30%;
    //border-radius: 12px;
    transition: $transition;

    .card-item {
      &--image {
        overflow: hidden;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        cursor: pointer;

        img {
          display: block;
          object-fit: cover;
          transition: $transition;
        }
      }

      &--content {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: $base*8;
        background-color: $color-white;

        &-topic {
          color: #fc9c25;
          font-weight: bold;
          font-size: $fs-xxs;
          margin-bottom: $base*4;
          text-transform: uppercase;
          transition: $transition;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        &-title {
          font-size: $fs-xl;
          font-weight: bold;
          line-height: 1.2;
          margin-bottom: $base*16;
          transition: $transition;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        &-date {
          color: #909c9d;
          font-size: $fs-xs;
        }
      }
    }

    &:hover {
      border-bottom: transparent;
      filter: drop-shadow(0 1.5rem 2rem  rgba(#000, 0.07)) drop-shadow(0 0.25rem 2rem rgba(#000, 0.03));

      img {
        transform: scale(1.1);
      }
    }
  }
}

/* === /ARTICLES == */

/* === /ENGAGEMENT == */

.section-engagement {
  .container__left {
    right: 0;
  }

  .container__right {
    margin-left: 0;

    .subtitle {
      font-weight: normal;
      width: 80%;
      font-size: $fs-lg;
    }
  }
}

/* === /ENGAGEMENT == */

/* === REVIEWS == */
.section-reviews {
  background-color: #f4f9f9;

  h2 {
    width: 35%;
    margin: 0 auto $base*20;
  }
}

.reviews {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px 200px 140px;
  grid-gap: $base*4;
  list-style: none;
  margin: 0;
  padding: 0;
  left: 0;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 175px;
    height: 103px;
    background: url("../img/review-arrow.svg") no-repeat;
    top: -103px;
    left: 50%;
    transform: translateX(-55%);
  }

  &__content {
    $parent: &;

    padding: $base*15;

    &:nth-child(1) {
      background: url("../img/reviews-bg-1.svg") no-repeat;
      background-size: cover;
    }

    &:nth-child(2) {
      background: url("../img/reviews-bg-2.svg") no-repeat;
    }

    &:nth-child(3) {
      background: url("../img/reviews-bg-3.svg") no-repeat;
      background-size: cover;
    }

    &--big {
      grid-column: 1/2;
      grid-row: 1/3;

      #{$parent}-text {
        font-size: $fs-xl;
      }
    }

    &--medium {
      grid-column: 2/3;
      grid-row: 1/2;

      #{$parent}-text {
        font-size: $fs-s;
      }
    }

    &--last {
      grid-column: 2/3;
      grid-row: 2/4;

      #{$parent}-text {
        font-size: $fs-md;
      }
    }

    &-stars {
      margin-bottom: $base*8;
    }

    &-text {
      margin-bottom: $base*9;
      line-height: 1.5;
      font-weight: 300;
    }

    &-author {
      display: flex;
      align-items: center;

      .avatar {
        margin-right: $base*4;
      }

      &__info {
        .name {
          font-weight: bold;
          font-size: $fs-xs;
        }

        .about {
          font-size: $fs-xxs;
          color: #818788;
        }
      }
    }
  }
}

/* === /REVIEWS == */

/* === NEWSLETTER == */
.section-newsletter {
  position: relative;
  background: url(../img/newsletter-bg.png)  no-repeat;
  background-size: cover;

  .section-inner {
    padding-top: $padding-vertical-md;
    padding-bottom: $padding-vertical-md;
    text-align: center;
  }

  &__plane {
    position: absolute;
    content: "";
    display: block;
    background: url("../img/plane.svg") no-repeat;
    width: 90px;
    height: 90px;

    &-left {
      bottom: $base*10;
      left: $base*10;
      transform: rotateY(180deg);
    }

    &-right {
      top: $base*10;
      right: $base*10;
    }
  }

  &__subtitle {
    font-size: $fs-xxs;
    letter-spacing: 2px;
    color: #f7faff;
    margin-bottom: $base;
    text-transform: uppercase;
  }

  &__title {
    color: #ffc8c8;
    margin-bottom: $base*11;
  }

  &__form {
    width: 70%;
    margin: 0 auto;
  }
}

/* === /NEWSLETTER == */

/* === FOOTER == */

.footer {
  display: flex;

  &__nav {
    display: flex;
    margin-left: $base*42;
    width: 100%;
    flex-wrap: wrap;

    &-sitemap,
    &-social,
    &-get-app {
      flex-basis: 33%;
      list-style: none;
      padding: 0;
      margin: 0;

      .category {
        font-size: 13px;
      }

      .link {
        a {
          text-decoration: none;
          color: #818788;
          line-height: 1.6;
          transition: $transition;

          &:hover {
            color: #007188;
          }
        }

        &__img {
          vertical-align: middle;
        }
      }
    }

    &-sitemap {
      .link {
        font-size: 18px;
      }
    }

    &-social {
      .link {
        font-size: 19px;
      }
    }

    &-get-app {
      .link {
        font-size: 20px;
      }
    }
  }
}

.additional {
  margin: $base*30 0 0 $base*68.75;
}

.copyright {
  font-size: $fs-xxs;
  margin-bottom: $base*10;
  line-height: 2;
}

.terms {
  &__link {
    text-decoration: none;
    color: #818788;
  }
}

/* === /FOOTER == */
